html {
  
  align-items: center;
  justify-items: center;
  

  --bg: #FCFCFC;
  --bg-panel: #EBEBEB;
  --color-headings: #0077FF;
  --color-nav: #1976d2;
  --color-text: #000000;
  --color-text1: #808080;
  --color-fontnav:#faebd7;
  --color-border: #FFFFFF;
  --color-border1: #FFFFFF;
}
body {
  /*background-image: linear-gradient(to right, #092572, #90afd8);*/
  background-color: var(--bg);
  font-family: 'Roboto';
  margin: 0px;
  margin-top: 120px;
}
.div1 {
  -webkit-box-shadow: 5px 5px 50px 8px rgba(0,0,0,0.59); 
  box-shadow: 5px 5px 50px 8px rgba(0,0,0,0.59);
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right:auto;
  max-width: 68%;
  background-color: var(--bg-panel);
  padding: 15px;
  border-radius: 5px;
  border: solid var(--color-border) 1px;
}
/* my query responsive pag */
@media (max-width: 850px) {
  .dashboard {
    display: block;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .div1 {
    max-width: 472px;
  }
}
@media (max-width: 471px) {
  .div1 {
    min-width: 440px;
  }
}
/*End*/
h1 {
  font-size: 3.2rem;
  text-align:center;
  color: var(--color-text);
  
}

.perfil-git {
  background-image: url('https://wallpapertag.com/wallpaper/full/4/3/2/465141-beautiful-anime-wallpaper-1920x1200-for-4k.jpg');
  background-size:cover;
  height: 200px;
  border-radius: 5px;

}

.div2 {
  padding: 15px;
  border-radius: 5px;
  /* propriedade visual: valor   */
  background-color: #bac3d6;
  color: var(--color-text);
  border:  solid var(--color-border) 1px;
}

.imagem {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;

  border: solid var(--color-border1) 8px;;
}
.head {
  text-align: center;
  color: var(--color-text1);
  font-size: 0.80rem;
  font-style: italic;
}
.skills {

  margin-left: auto;
  margin-right: auto;
}
.image {
  width: 40px;
  height: 30px;
  display: inline-block; 
}
.image:hover {
  background-color: #A9A9A9;
  transition: background 0.6s;
  cursor: pointer;
}
.shadow {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
/*buttom saiba mais*/
.btn-large {
  height: 54px;
  line-height: 54px;
  font-size: 0.95rem;
  padding: 0 28px;
}
.button {
  margin: 30px auto;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  transition: background-color 0.3s;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  box-sizing: border-box;
  appearance: button;
  text-decoration: none;
  transition: all 2s ease;
}
.buttom-a {
  text-decoration: none;
}
/*efeito visual UI*/
.button {
  text-decoration: none;
  color: white;
}
.button:hover {
  background-color: rgba(223, 226, 226, 0.3);
  transition: background 1s ease;
  font-weight: bolder;
}
.sobre {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.shadow {
  background-color:var(--color-nav);
}
/*fim se*/
/*fim*/
.git-me {
  color: var(--color-text);
}
.dashboard {
  color: var(--color-text);
  display: block;
}

/*responsavel pelo nav*/
/*dark mode*/
.container {
  

 
  padding: 0px;
  border-radius: 15px;

}
input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}
label {
  float: right;
  color: var(--color-fontnav);
  font-size: 1.25rem;
  margin-left: 5px;
  margin-right: 5px;
}
.label1 {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}
.label1::after{
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 90px;
  transition: 0.1s;
}
input:checked + .label1 {
  background-color:var(--color-border1);
}
/*movimetação da ball*/
input:checked + .label1::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
label:active:after {
  width: 45px;
}
.toggle {
  display: flex;
  justify-content:space-between;
  align-items: center;
}
/*fim do efeito darkmode*/
.menu {
  position: fixed; 
  top: 0; 
  width: 100%;
  height: 100px;
  background-color: var(--color-nav);
  transition: background 0.5s ease;
}
/*frutuação do menu nav list*/
.menu ul {
  font-size: 1.875rem; 
}
.menu ul li {
  display: inline;
  margin: 5px;
 
}
.menu ul li a {
  text-decoration: none;
  color: var(--color-fontnav);
  height: 100%;
  display: inline-block;
}
.menu ul li a:hover {
  color: #FFFFFF;
  font-weight: bold;
  transition-duration: 0.3s;
}
.ico-nav {
color:var(--color-fontnav);
float:right;
margin-right: 5px;
}
/*fim -----*/

/*Css responsavel por fazer a UI do footer*/
.Rights {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  font-size: 0.93rem;
  height: 30vh;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 200px;
  background-color: var(--color-nav);
  transition: background 0.5s ease;
  color: var(--color-fontnav);
}
.Rights .mid a {
  text-decoration: none;
  color: var(--color-fontnav);
} 
.Rights .mid a:hover {
  text-decoration: underline #ff0000;
  color: aquamarine;
}
.float-left {
  margin: 20px;
  padding: 50px;
}
.place {
  margin: 5px 0 0 0;
}
.float-right a {
  text-decoration: none;
  height: 40px;
  width: 40px;
  color: var(--color-fontnav);
  margin: 5px;
}
.float-right a:hover {
 color: #FFFFFF;
}
/*não mexa, sujeito a paulada(é serio, pode gerar bugs)*/
@media (max-width: 850px){
  .Rights{
    min-width: 472px;
    height: 80vh;
    margin-top: 100px;
    flex-direction: column;
    margin-right: 0 auto;
  }
  .text {
    text-align: center;
  }
}
@media (width: 504px) {
  .Rights{
    min-width: 503px;
    height: 80vh;
    margin-top: 100px;
    flex-direction: column;
    margin-right: 0 auto;
    clear: both;
  }
  .text {
    text-align: center;
  }
}
/*aqui é o fim dele (footer) */